.et1{
    font-size: 20px;
    text-align: center;
}
.et{
    color: blue;
    font-size: small;
    text-align:center;
}
.bou{
    text-align: center;
}

ion-img{
    height:220px ;
}

.icon{
    height:25px;
    width: 25px;
}