
.cols{
    border: 1px solid lightgrey; 
       height: 192px;
    
}
ion-img{
    height: 120px;
    width: 120px;
    margin: auto;
}

.et{
    
    font-size: small;
    text-align: center;
    

}
.ets{
    text-align:center;
    font-size: small;
    color:blue;
}

.icon{
    height:25px;
    width: 25px;
}